<footer class="bg-black py-6">
    <div class="flex gap-[450px] justify-center items-center">
       <div class="flex space-x-4">
        <div class="">
            <span class="text-white font-bold">Connect  With  Us</span>
           </div>
            <!-- Social Icons -->
            <div class="flex  space-x-6 text-2xl text-white ">
                <i class="fa-brands fa-facebook hover:text-blue-600"></i>
                <i class="fa-brands fa-instagram hover:text-pink-600"></i>
                <i class="fa-brands fa-linkedin hover:text-blue-500"></i>
            </div>
       </div>

        <!-- Brand Name -->
        <div class="text-slate-100 text-lg font-semibold">&copy; EstateEase</div> 

        <!-- Links -->
        <div class=" space-x-4">
            <a href="/about" class="text-slate-200 hover:underline ">About Us</a>
            <a href="/privacy" class="text-slate-200 hover:underline">Privacy</a>
            <a href="/terms" class="text-slate-200 hover:underline">Terms</a>
        </div>
        
    </div>
</footer>